/* App.css */

:root {
  --primary-color: #DAD7CD; /* Main background color */
  --secondary-color: #A3B18A; /* Secondary background color */
  --accent-color: #588157; /* Accent color */
  --text-color: #3A5A40; /* Text color */
  --link-color: #344E41; /* Link color */
}

.react-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.header-container {
  background-color: var(--primary-color);
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  align-items: center; /* Align items vertically */
  color: white; /* Use a modern font, replace 'Roboto' with your desired font */
}

header h1 a:hover {
  color: var(--accent-color); /* Change text color on hover */
  text-decoration: underline; /* Underline on hover */
}

nav {
  background-color: var(--primary-color);
  padding: 10px;
  margin-left: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--accent-color); /* Change text color on hover */
  border-bottom: 2px solid var(--accent-color); /* Add a bottom border on hover */
}

/* Add styles for Footer */
footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Apply grow effect on hover for all links and icons */
.social-icons a,
header h1 a {
  transition: transform 0.2s ease-in-out; /* Add smooth transition effect */
}

.social-icons a:hover,
header h1 a:hover {
  transform: scale(1.1); /* Increase size on hover */
}

.social-icons a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--link-color); /* Change the color on hover if needed */
}

.about-me-container,
.contact-me-container,
.project-container {
  min-height: 100vh;
  padding: 40px;
  background-color: var(--secondary-color); /* Light gray background */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  border-radius: 8px;
}

.about-me-container h2,
.contact-me-container h2,
.project-container h2 {
  font-size: 36px;
  color: var(--text-color);
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--text-color);
}

input,
textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid var(--text-color); /* Light border */
  border-radius: 4px;
}

button {
  background-color: var(--accent-color);
  color: white;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* Project styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  background-color: white;
  border: 1px solid var(--text-color); /* Light border */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.project img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--text-color); /* Light border */
}

.project h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.project-links a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

.project-links a:hover {
  color: var(--accent-color); /* Darker accent color on hover */
}

.resume-container {
  display: grid;
  justify-content: space-between;
  min-height: 100vh;
  padding: 40px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.resume-container h2,
.resume-container h3,
.resume-container p,
.resume-container ul,
.resume-container li {
  color: var(--text-color);
  list-style-type: square;
}

.resume-container a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

.resume-container a:hover {
  color: var(--accent-color);
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

.about-me-container h2 {
  margin-right:auto; 
}

.image-container {
  margin-bottom: 20px;
}

.profile-image {
  width: 100%;
  max-width: 500px; /* Adjust the maximum width as needed */
  border-radius: 100px; /* Optional: Add border-radius for rounded corners */
  margin-bottom: 50px; /* Optional: Add margin to space the image from the text */
}

/* Media queries for mobile-first design */
@media only screen and (max-width: 600px) {
  .header-container {
    padding: 10px;
  }

  header {
    justify-content: center;
  }

  nav {
    margin-left: 0;
    margin-top: 10px;
  }

  ul {
    justify-content: center;
  }

  .social-icons {
    margin-top: 20px;
  }

  .about-me-container,
  .contact-me-container,
  .project-container,
  .resume-container {
    padding: 20px;
  }

  .project {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .project {
    width: calc(100% - 20px);
  }
}
